*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    /* border: 2px solid rgb(19, 229, 236); */
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    
}

main.tema_dark{
    background-color: #282828;
    color: white;
}

main.tema_dark input {
    border-color: white;
    background-color: #000000;
    color: white;
}

main.tema_dark input::placeholder{
    color: rgb(255, 255, 255);
}

header{
    /* border: 2px solid crimson; */
    background-color: grey;
    text-align: center;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Divide em 3 colunas */
    align-items: center;
}

h1{
    grid-column: 2;
    margin: 0;
}

header img{
    width: 5%;
    grid-column: 3;
    margin: 0;    
    justify-self: end;
    cursor: pointer;
}

.container{
    display: flex;
    min-width: 100dvw;
    background-color: blueviolet;   
    
    flex-grow: 1;
}

aside{
    /* border: 2px solid rgb(20, 220, 53); */
    background-color: rgb(168, 165, 165);
    display: flex;

    padding: 10px 50px;

}

nav{
    /* border: 2px solid crimson; */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap:50px; */
    
} 

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6{
    /* border: 2px solid crimson; */
    padding: 30px 70px;
    margin: 0px 20px;
    border-radius: 15px;
    width: 100%;  
}

#btn_dolar_real,
#btn_real_dolar{
    width: auto;
    padding: 8px;
    background-color: green;
    color: white;
}

#formulario, 
#formulario2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

#btn_radio{
    border: 2px solid palegreen;
    width: 40%;
    padding: 8px;
    margin: 5px;
    background-color: green;
    color: white;
}

h2{
    text-align: center;
    margin: 30px;
}

#formulario_imc{
    display: flex;
    flex-direction: Column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#peso, #altura{
    /* border: 2px solid yellow; */
} 

.grupo_radio{
    display: flex;
    align-items: center;
    gap: 100px;
}

.grupo_radio label{
    /* border: 2px solid palevioletred; */
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.grupo_radio input[type="radio"]{
    min-width: auto;
    width: auto;
    
}

#resultado_imc{
    color: crimson;
    font-weight: 900;
    text-align: center;
}

input{
    /* border: 2px solid yellowgreen; */
    min-width: 50ch;
    margin: 10px;
    display: flex;
    justify-content: center;

}

#moedas p, 
#imc p{
    /* border: 2px solid crimson; */
    margin: 10px;
    padding: 10px;
    width: 90%;    
}




#regra3{
    /* display: flex;
    flex-direction: column; */    
}

#formulario_regra3{
    /* border: 1px solid crimson; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rule3{
    /* border: 1px solid saddlebrown; */
    display: flex;
    
}

.fr1{
    /* border: 2px solid rgb(231, 228, 21); */
    /* display: flex;
    flex-direction: column; */
}


.fr2{
    /* border: 2px solid rgb(13, 221, 58); */
    /* display: flex;
    flex-direction: column; */
}

#btn_regra3{
    /* border: 2px solid rgb(46, 7, 219); */
    justify-content: center;
    cursor: pointer;
}

.igual{
    display: flex;
    align-items: center;
}

.igual img{
    /* border: 1px solid rgb(248, 2, 248); */
    width: 30px;
    
}

#resultado_regra3{
    text-align: center;
    padding: 10px;
    margin: 5px;
}


main{
    /* border: 2px solid rgb(220, 20, 187); */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    flex-grow: 1;

}

footer{
    /* border: 2px solid green; */
    background-color: grey;
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: bold;
}